.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 8.3vw;
    padding-top: 1vh;
}

.aboutPage {
    display: flex;
    flex-direction: row;
    padding-top: 4vh;
    padding-bottom: 6vh;
    /* background-color: aqua; */
    height: 108vh;
}

.textHello {
    height: 114px;
    width: min-content;
    top: 10vh;
    color: white;
    margin-bottom: 0px;
}

.textName {
    font-family: 'Abril Fatface';
    text-decoration: none;
    color: #EFDCC9;
    font-size: 22.8px;
    margin-top: -9px;
    margin-left: 278.4px;
    /* background-color: aqua; */
}

.textAbout {
    text-decoration: none;
    width: 47vw;
    color: white;
    font-weight: bold;
    font-size: 25.7px;
    align-self: flex-start;
    margin-top: 2.7vh;
    line-height: 34px;
    text-align: left;
}

.designHead3d {
    width: 45vw;
    height: min-content;
    margin-left: -2.3vw;
    margin-bottom: 14vh;
    align-self: flex-end;
}

.textNotMe {
    height: min-content;
    width: 320px;
    /* margin-top: -12vh; */
    margin-left: 28vw;
}

.textStatue {
    font-family: 'Abril Fatface';
    text-decoration: none;
    color: #EFDCC9;
    font-size: 27px;
    margin-top: -44px;
    margin-left: 290px;
}